<div class="sb-slidebar sb-left">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Trang Chủ</a></li>
        <li role="presentation"><a href="#">Tác phẩm Kinh Điển</a></li>
        <li role="presentation"><a href="#">Kiếm Hiệp</a></li>
        <li role="presentation"><a href="#">Tiên Hiệp</a></li>
        <li role="presentation"><a href="#">Ngôn Tình</a></li>
        <li role="presentation"><a href="#">Xuyên Không</a></li>
        <li role="presentation"><a href="#">Huyền Huyễn</a></li>
        <li role="presentation"><a href="#">Chuyên Ngành</a></li>
        <li role="presentation"><a href="#">Tôn Giáo</a></li>
    </ul>
</div>