<div class="like-page">
    <h3>Like để cập nhật</h3>
    <div class="fb-page" data-href="https://www.facebook.com/daithuvien" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/daithuvien"><a href="https://www.facebook.com/daithuvien">Đại Thư Viện</a></blockquote></div></div>
</div>