<div id="left-category" class="sub-category">
    <div id="notification">
      <div id="optin">
        <h2>BẢN TIN DTV</h2>
        <p>Hãy đăng ký để nhận Truyện mới nhanh nhất qua email.</p>
        <form action="" class="form-inline has-success">
          <div class="input-group">
            <input type="text" class="form-control" id="username" placeholder="Tên Của Bạn">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>                    
          </div>
          <div class="input-group">
            <input type="text" class="form-control" id="password" placeholder="Địa Chỉ Email">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>                    
          </div>
        </form>
        <br/>
        <button type="submit" class="btn btn-success">Đăng Ký Ngay !!!</button>
      </div>
    </div>
<br/>
</div>