<header>
  <div class="container">
    <blockquote>
      <p><i>Đàn bà là giống loài nhạy cảm. Một chút vô tâm, một chút bất thường, hay quá nhiều những bình thường cũng khiến họ băn khoăn. Nhưng một khi họ cho rằng mối quan hệ có vấn đề, dứt khoát nó có vấn đề.</i></p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>       
  </div>
</header> 