<!DOCTYPE html>
<html>
<head>
  <title>Login | Đại Thư Viện</title>
  <%= stylesheet_link_tag 'admin/login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>